@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Roman';
    src: url(/font/roman.ttf);
}

*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    margin: 0px 50px;
}

.container{
    width: 93%;
    top: 0;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
    padding: 10px 30px;
    background-color: brown;
    border-radius: 5px;
}

.container .home a{
    font-family: 'Roman', cursive;
    font-size: 40px;
    text-decoration: none;
    color: antiquewhite;
}

.container .home img{
    width: 50px;
    margin-right: 5px;
}

.navigation {
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-family: 'Poppins';
    font-size: 20px;
}

.navigation li a{
    text-decoration: none;
    color: antiquewhite;
    border-bottom: 3px solid rgba(255, 99, 71, 0);
    transition: all;
    transition-duration: 300ms;
}

.navigation li a:hover{
    color: yellow;
    border-bottom: 3px solid yellow;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: brown;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: aqua;}

.dropdown:hover .dropdown-content {
    display: block;
}

li.dropdown2 {
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: brown;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content2 a:hover {background-color: aqua;}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.title-header{
    margin-top: 200px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 20px 80px;
}

.content{
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    float: left;
    background-color: white;
    border-radius: 8px;
    padding: 40px 80px;
}

.content p{
    margin: 20px 100px 10px 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.content-image{
    border: 2px solid white;
    padding: 10px;
    margin-top: 20px;
    color: black;
}

.content-image img{
    margin-bottom: 5px;
    height: 200px;
    box-shadow: 0 0px 10px black;
}
